<div class="background-blur"></div>
<div class="container front">
	<div class="text-center front">
		<h1>Bienvenidos a SMARTSIGNUP</h1>
		<h4>Herramienta para uso interno de SM Puerto Rico</h4>
		<%= link_to('Sign Up', new_user_registration_path, class: 'btn btn-danger btn-lg', title: 'Sign Up') %>
	</div><!-- col end -->
</div>

